{% load static %}
{% load i18n %}
{% load auth_extras %}
{% for object in object_list  %}
    <!-- Game {{ object.id }} Modal -->
    <div class="portfolio-modal modal fade" id="gameModal{{ object.id }}" tabindex="-1" role="dialog" aria-labelledby="gameModal{{ object.id}}Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Game  Modal - Title -->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ object.title }}</h2>
                                <!-- Icon Divider -->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Game Modal - Image -->
                                <img class="img-fluid rounded mb-5" src="/media/{{ object.image }}" alt="">
                                <!-- Game Modal - Text -->
                                <h3>{% trans 'Description' %}</h3>
                                <p class="mb-5">{% trans object.description %}</p>
                                {% if request.user|has_group:"moderator" %}
                                    <a href="{% url 'app_update_game' object.id %}">
                                        <button class="btn btn-primary">
                                            <i class="fas fa-times fa-fw"></i>
                                            {% trans 'Edit this game' %}
                                        </button>
                                    </a>
                                    <a href="{% url 'app_delete_game' object.id %}">
                                        <button class="btn btn-danger">
                                            <i class="fas fa-times fa-fw"></i>
                                            {% trans 'Remove this game' %}
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-lg-8">
                                <a href="{% url 'app_game' object.title %}">
                                    <button class="btn btn-primary">
                                        <i class="fas fa-times fa-fw"></i>
                                        {% trans 'Go to this game page' %}
                                    </button>
                                </a>

                                <button class="btn btn-cancel" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    {% trans 'Close Window' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}