{% load static %}
{% load i18n %}
{% load auth_extras %}
{% for game in games  %}
    <!-- Game {{ game.id }} Info -->
    <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#gameModal{{ game.id }}">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                    <i class="fas fa-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-fluid" src="/media/{{ game.image }}" alt="">
            <h2 class="text-center">{{ game.title }}</h2>
        </div>
    </div>
{% endfor %}