{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load auth_extras %}
{% block content %}

    {% include 'common/navbar.html' with section1="game" section2="characters" section3="teams" %}


    {% include 'common/masthead.html' with section=_("game") mainTitle=game.title mainImage=game.image mainDesc=game.description %}

    <!-- Characters Section -->
    <section class="page-section portfolio" id="{% trans 'characters' %}">
        <div class="container">

            <!-- Characters Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{% trans 'Characters list' %}</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Characters Grid Items -->
            <div class="row">
                {% if request.user|has_group:"moderator" %}
                <!--Create Character Info -->
                <div class="col-md-6 col-lg-4">
                    <a href="{% url 'app_add_character' %}">
                        <div class="portfolio-item mx-auto">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/media/add-logo.png" alt="">
                            <h2 class="text-center">{% trans 'Add a Character' %}</h2>
                        </div>
                    </a>
                </div>
            {% endif %}
                {% include 'characterviews/characterInfo.html' %}
            </div>
            <!-- /Characters Grid Items -->

        </div>
    </section>

    <!-- Teams Section -->
    <section class="page-section portfolio teams bg-primary text-white mb-0" id="{% trans 'teams' %}">
        <div class="container">

            <!-- Teams Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">{% trans 'Teams' %}</h2>

            <!-- Teams Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Teams Grid Items -->
            <div class="row">
                {% if user.is_authenticated %}
                <!--Create Team Info -->
                <div class="col-md-6 col-lg-4">
                    <a href="{% url 'app_add_team' %}">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#teamModal{{ team.id }}">
                            <div class="portfolio-item-caption caption-white d-flex align-items-center justify-content-center h-100 w-100 ">
                                <div class="portfolio-item-caption-content text-center text-primary ">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/media/add-logo.png" alt="">
                            <h2 class="text-center text-white">{% trans 'Add a Team' %}</h2>
                        </div>
                    </a>
                </div>
            {% endif %}
                {% include 'teamviews/teamsInfo.html' %}
            </div>
            <!-- /Teams Grid Items -->

        </div>
    </section>

    <!-- Characters Modals -->
    {% include 'characterviews/characterDetailsModal.html' %}
    <!-- /Characters Modals -->

    <!-- Teams Modals -->
    {% include 'teamviews/teamsDetailsModal.html' %}
    <!-- /Team Modals -->
{% endblock %}

</body>

</html>
