{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    {% if user.is_authenticated  %}
        {% include 'common/actionNavbar.html' with section=_('Add a team') %}

        <!-- Add a team Section -->
        <section class="page-section" id="{% trans 'Add a team' %}">
            <div class="container">

                <!-- Add a team Section Heading -->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{% trans 'Add a team' %}</h2>

                <!-- Icon Divider -->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-plus-square"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>

                <div class="col-lg-8 mx-auto text-center">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group">
                    <input class="btn btn-link"
                           type="button" value="Cancel"
                           onclick="window.history.go(-1);"/>
                            <button type="submit" class="btn btn-primary" id="sendMessageButton">{% trans 'Add' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    {% else %}
        {% include 'common/AccessDenied.html' %}
    {% endif %}
{% endblock %}