{% load static %}
{% load i18n %}
{% load auth_extras %}
{% for team in teams %}
    <!-- team Modal {{ team.id }} -->
    <div class="portfolio-modal modal fade" id="teamModal{{ team.id }}" tabindex="-1" role="dialog"
         aria-labelledby="teamModal{{ team.id }}Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                <i class="fas fa-times"></i>
                </span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title -->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ team.title }}</h2>
                                <p>{% trans 'Owner' %}: {{ team.owner }}</p>
                                <!-- Icon Divider -->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <h3>{% trans 'Description' %}</h3>
                                <p>{% trans team.description %}</p>
                                {% for character in team.characters.all %}
                                    <h3>{{ character }}</h3>
                                    <img class="img-fluid" src="/media/{{ character.image }}" alt="">
                                {% endfor %}
                                <p>{% trans 'Tags' %}:
                                    {% for tag in team.tags.all %}
                                        [{% trans tag.description %}]
                                    {% endfor %}
                                </p>
                                {% if request.user.is_authenticated and request.user == team.owner or request.user|has_group:"moderator" %}
                                    <a href="{% url 'app_update_team' team.id %}">
                                        <button class="btn btn-primary">
                                            <i class="fas fa-times fa-fw"></i>
                                            {% trans 'Edit this team' %}
                                        </button>
                                    </a>
                                    <a href="{% url 'app_delete_team' team.id %}">
                                        <button class="btn btn-danger">
                                            <i class="fas fa-times fa-fw"></i>
                                            {% trans 'Remove this team' %}
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-lg-8">
                                <button class="btn btn-cancel" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    {% trans 'Close Window' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

