{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load auth_extras %}
{% block content %}
    {% if user.is_authenticated and request.user == team.owner or request.user|has_group:"moderator" %}
        {% include 'common/actionNavbar.html' with section=_('Delete a team') %}

        <!-- Game Delete Section -->
        <section class="page-section" id="{% trans 'Delete a team' %}">
            <div class="container">

                <!-- Game Delete Section Heading -->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{% trans 'Are you sure' %}</h2>

                <!-- Icon Divider -->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-exclamation-triangle"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>

                <div class="col-lg-8 mx-auto text-center">
                    <p>{% trans "You're about to delete the "%}{% trans 'team' %}: {{ object }}.</p>
                    <p> {% trans 'Please confirm' %}.</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input class="btn btn-link"
                               type="button" value="Cancel"
                               onclick="window.history.go(-1);"/>
                        <input class="btn btn-danger" type="submit" value="Confirm"/>
                    </form>
                </div>
            </div>
        </section>
    {% else %}
        {% include 'common/AccessDenied.html' %}
    {% endif %}
{% endblock %}