{% load static %}
{% load i18n %}
{% load auth_extras %}
{% for team in teams  %}
    <!-- team Modal {{ team.id }} -->
    <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#teamModal{{ team.id }}">
            <div class="portfolio-item-caption caption-white d-flex align-items-center justify-content-center h-100 w-100 ">
                <div class="portfolio-item-caption-content text-center text-primary ">
                    <i class="fas fa-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-fluid" src="/media/{{ team.characters.first.image }}" alt="">
            <h2 class="text-center">{{ team.title }}</h2>
        </div>
    </div>
{% empty %}
    <h2>{% trans "This game doesn't have any team yet. :(" %}</h2>
{% endfor %}