{% load static %}
{% load i18n %}

{% include 'common/actionNavbar.html' with section=_('Access denied') %}

<!-- NoPermission Section -->
<section class="page-section" id="{% trans 'Acces denied' %}">
    <div class="container">

        <!-- NoPermission Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{% trans "Access Denied" %}</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="col-lg-8 mx-auto text-center">
            <p>{% trans "You don't have the permission to do this action !" %}</p>
            <input class="btn btn-link"
                   type="button" value="Go Back"
                   onclick="window.history.go(-1);"/>
        </div>
    </div>
</section>