{% load static %}
{% load i18n %}
{% load auth_extras %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li>
            <form action="{% url 'app_search' %}" class="form-inline" method="get">
                <input class="form-control" style="width: 10rem" type="search" placeholder="Search" aria-label="Search" name="slug" >
            </form>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item mx-0 mx-lg-1">
                <p class="text-uppercase text-white nav-link py-3 px-0 px-lg-3 rounded" style="margin-bottom: 0!important;">
                    {% if request.user|has_group:"moderator" %}
                        {% trans 'Moderator' %}
                    {% else %}
                        {% trans 'User' %}
                    {% endif %}
                    : {{ user.username }}</p>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
            </li>
        {% else %}
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3" href="{% url 'app_login' %}">{% trans 'Login' %}</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3" href="{% url 'app_register' %}">{% trans 'Register' %}</a>
            </li>
        {% endif %}
    </ul>
</div>