{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<body id="page-top">

{% include 'common/head.html' %}

{% block content %}

{% endblock %}

{% include 'common/foot.html' %}

</body>

</html>