{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load auth_extras %}
{% block content %}

    {% include 'common/navbar.html' with section1=_("gamesapp") section2=_("games") section3=_("about") %}

    {% include 'common/masthead.html' with section=_("gamesapp") mainTitle=_('GamesApp') mainImage='avataaars.svg' mainDesc=_('Share your teams and search some informations about mobile games') %}


    <!-- Game Section -->
    <section class="page-section portfolio" id="{% trans 'games' %}">
        <div class="container">

            <!-- Game Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{% trans 'Games list' %}</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Games Grid Items -->
            <div class="row">
                {% if request.user|has_group:"moderator" %}
                <!--Create Game Info -->
                <div class="col-md-6 col-lg-4">
                    <a href="{% url 'app_add_game' %}">
                        <div class="portfolio-item mx-auto">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="/media/add-logo.png" alt="">
                            <h2 class="text-center">{% trans 'Add a Game' %}</h2>
                        </div>
                    </a>
                </div>
            {% endif %}
                {% include 'gameviews/gameInfo.html' %}
            </div>
            <!-- /Games Grid Items -->

        </div>
    </section>

    <!-- About Section -->
    <section class="page-section bg-primary text-white mb-0" id="{% trans 'about' %}">
        <div class="container">

            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">{% trans About %}</h2>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- About Section Content -->
            <div class="row">
                {% blocktrans %}
                    <div class="col-lg-4 ml-auto">
                        <p class="lead"> This website is a project for my studies.</p>
                        <p class="lead"> It was made in Python/Django and I used the template Freelancer.</p>
                        <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
                            <i class="fas fa-download mr-2"></i>
                            The template is here !
                        </a>
                    </div>
                    <div class="col-lg-4 mr-auto">
                        <p class="lead">You can consult some mobile games informations and there characters. </p>
                        <p class="lead">You can also share you teams that you made in them </p>
                    </div>
                {% endblocktrans %}
            </div>


        </div>
    </section>


    <!-- Games Modals -->
    {% include 'gameviews/gameDetailsModal.html' %}
    <!-- /Games Modals -->
{% endblock %}
