{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    {% include 'common/actionNavbar.html' with section=_('login') %}

    <!-- Login Section -->
    <section class="page-section" id="{% trans 'login' %}">
        <div class="container">

            <!-- Contact Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{% trans 'Login' %}</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="col-lg-8 mx-auto text-center">
                <form method="post">
                    {% csrf_token %}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label for="id_username">{% trans 'Username' %}</label>
                            {{ form.username }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label for="id_password1">{% trans 'Password' %}</label>
                            {{ form.password }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">{% trans 'Login' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}