{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    {% include 'common/actionNavbar.html' with section=_('Register') %}

    <!-- Login & Register Section -->
    <section class="page-section" id="{% trans 'Register' %}">
        <div class="container">

            <!-- Register Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{% trans 'Create an account' %}</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-plus-square"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="col-lg-8 mx-auto text-center">
                <form method="post">
                    {% csrf_token %}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label for="id_username">{% trans 'Username' %}</label>
                            {{ form.username }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label for="id_email">{% trans 'Email address' %}</label>
                            {{ form.email }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label for="id_password1">{% trans 'Password' %}</label>
                            {{ form.password_1 }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label for="id_password2">{% trans 'Password verification' %}</label>
                            {{ form.password_2 }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">{% trans 'Register' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}