{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    {% include 'common/navbar.html' with section1=_("games") section2=_("teams") section3=_("characters") %}

    <!-- Game Section -->
    <section class="page-section portfolio" id="{% trans 'games' %}">
        <div class="container">

            <!-- Game Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{% trans 'Games list' %}</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Games Grid Items -->
            <div class="row">
                {% include 'gameviews/gameInfo.html' %}
            </div>
            <!-- /Games Grid Items -->

        </div>
    </section>

    <!-- Teams Section -->
    <section class="page-section portfolio teams bg-primary text-white mb-0" id="{% trans 'teams' %}">
        <div class="container">

            <!-- Teams Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">{% trans 'Teams' %}</h2>

            <!-- Teams Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Characters Grid Items -->
            <div class="row">
                {% include 'teamviews/teamsInfo.html' %}
            </div>
            <!-- /Characters Grid Items -->

        </div>
    </section>
    <!-- Characters Section -->
    <section class="page-section portfolio" id="{% trans 'characters' %}">
        <div class="container">

            <!-- Characters Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{% trans 'Characters list' %}</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Characters Grid Items -->
            <div class="row">
                {% include 'characterviews/characterInfo.html' %}
            </div>
            <!-- /Characters Grid Items -->

        </div>
    </section>




    <!-- Characters Modals -->
    {% include 'characterviews/characterDetailsModal.html' %}
    <!-- /Characters Modals -->
    <!-- Teams Modals -->
    {% include 'teamviews/teamsDetailsModal.html' %}
    <!-- /Team Modals -->
{% endblock %}

</body>

</html>
