{% load static %}
{% load i18n %}
{% load auth_extras %}
{% for character in characters  %}
    <!-- Character Modal {{ character.id }} -->
    <div class="portfolio-modal modal fade" id="characterModal{{ character.id }}" tabindex="-1" role="dialog" aria-labelledby="characterModal{{ character.id}}Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
            <i class="fas fa-times"></i>
            </span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title -->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ character.name }}</h2>
                                <!-- Icon Divider -->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <img class="img-fluid" src="/media/{{ character.image }}" alt="">
                                <h3>{% trans 'Description' %}</h3>
                                <p>{% trans character.description %}</p>
                                <h3>{% trans 'Story' %}</h3>
                                <p>{% trans character.story  %}</p>
                                <h3>{% trans 'Type' %}</h3>
                                <p>{% trans character.type.name %}</p>
                                <p>{% trans 'Tags' %}:
                                    {% for tag in character.tags.all %}
                                        [{% trans tag.description %}]
                                    {% endfor %}
                                </p>
                                {% if request.user|has_group:"moderator" %}
                                    <a href="{% url 'app_update_character' character.id %}">
                                        <button class="btn btn-primary">
                                            <i class="fas fa-times fa-fw"></i>
                                            {% trans 'Edit this game' %}
                                        </button>
                                    </a>
                                    <a href="{% url 'app_delete_character' character.id %}">
                                        <button class="btn btn-danger">
                                            <i class="fas fa-times fa-fw"></i>
                                            {% trans 'Remove this game' %}
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-lg-8">
                                <button class="btn btn-cancel" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    {% trans 'Close Window' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

