{% load static %}
{% load i18n %}
{% load auth_extras %}
{% for character in characters  %}
    <!-- Character Modal {{ character.id }} -->
    <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#characterModal{{ character.id }}">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                    <i class="fas fa-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-fluid" src="/media/{{ character.image }}" alt="">
            <h2 class="text-center">{{ character.name }}</h2>
        </div>
    </div>
{% empty %}
    <h2>{% trans "This game doesn't have any character yet. :(" %}</h2>
{% endfor %}